################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipynb_checkpoints
/python_basics/class02/homework/__pycache__
