################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/python_basics/class01/homework/.ipynb_checkpoints
/python_basics/class01/.ipynb_checkpoints
